@mixin flex($dir, $just, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}

@mixin line($width, $height, $color) {
    content: '';
    position: absolute;
    height: $height;
    width: $width;
    background-color: $color;
}